body {
  font-family: Poppins, sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.header {
  padding-top: 54px;
  padding-bottom: 63px;
}

.title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 60px;
  line-height: 1.33;
  color: #121212;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list-logo {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.34;
  color: #121212;
}

.nav-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: 32px;
}

.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(18, 18, 18, 0.6);
  transition: color 250ms linear;
}

.header-contact-btn {
  background-color: transparent;
  color: #ff6a28;
  border: 1px solid #ff6a28;
  border-radius: 5px;
  padding: 10px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  transition: color 250ms linear, background-color 250ms linear;
}

.header-contact-btn:focus,
.header-contact-btn:hover {
  background-color: #ff6a28;
  color: #fff;
}

.current-page {
  color: #121212;
}

.current-page::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  background-color: #ff6a28;
  width: 26%;
  height: 2px;
  border-radius: 10px;
}

.navigation-list-link:focus,
.navigation-list-link:hover {
  color: #121212;
}

/* Hero */
.hero-container {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  margin-bottom: 47px;
}

.hero-title {
  text-align: center;
  margin-bottom: 41px;
  margin-top: 0;
}

.hero-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  text-align: center;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 42px;
}

.hero-button {
  background-color: #ff6a28;
  border-color: transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  padding: 11px 39px;
  color: #ffffff;
  transition: background-color 250ms linear;
}

.hero-button:hover {
  background-color: #d84e13;
}

/* Clients and years */

.clients-container {
  display: flex;
  justify-content: space-between;
  background-color: #c4c4c4;
  border-radius: 10px;
  height: 643px;
  padding: 28px;
  margin-bottom: 106px;
}

.desc-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 10px;
  padding: 44px 64px;
  padding-bottom: 38px;
  padding-left: 41px;
}

.desc-wrapper-clients {
  align-self: flex-start;
}

.desc-wrapper-years {
  align-self: flex-end;
}

.desc-count {
  margin-right: 16px;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.5;
  color: #ff6a28;
}

.desc-text {
  max-width: 219px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(18, 18, 18, 0.83);
}

/* ABOUT SECTION */
.about-container {
  margin-bottom: 99px;
}

.about-title {
  margin-bottom: 8px;
}

.about-text {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  color: rgba(18, 18, 18, 0.6);
}

.about-text::before {
  margin-left: 12px;
  margin-right: 17px;
  content: "";
  display: block;
  width: 67px;
  height: 2px;
  background-color: #ff6a28;
}
.about-list {
  width: 1516px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.about-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 325px;
}

.about-list-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
}
.about-list-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.65;
  text-align: justify;
  color: rgba(18, 18, 18, 0.83);
}

/* REVIEWS SECTION */
.reviews-section {
  margin-bottom: 84px;
  background-color: #f8fafb;
  padding-bottom: 77px;
  padding-top: 56px;
}

.reviews-title {
  margin-bottom: 9px;
}

.reviews-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  color: rgba(18, 18, 18, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.reviews-text::before {
  margin-left: 12px;
  margin-right: 17px;
  content: "";
  display: block;
  width: 67px;
  height: 2px;
  background-color: #ff6a28;
}

.reviews-client-wrapper {
  display: flex;
}

.reviews-client-img {
  margin-right: 40px;
}

.reviews-client-info {
  width: 585px;
  padding-left: 10px;
  padding-right: 16px;
}

.reviews-client-name {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.5;
  color: #121212;
  margin-bottom: 3px;
}
.reviews-client-desc {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 34px;
}
.reviews-client-comment {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.91;
  color: rgba(18, 18, 18, 0.83);
}
.reviews-btn-list {
  display: flex;
  gap: 21px;
}

.reviews-btn {
  height: 55px;
  border: none;
  border-radius: 5px;
  padding: 20px 21px 19px 21px;
  transition: background-color 250ms linear;
}

.arrow-icon {
  width: 18px;
  height: 16px;
  fill: #ff6a28;
  transition: fill 250ms linear;
}

.arrow-icon-right {
  transform: rotate(180deg);
}

.reviews-btn:hover {
  background-color: #ff6a28;
}

.reviews-btn:hover .arrow-icon {
  fill: #fff;
}

/* LAST PROJECT SECTION */
.last-projects-container {
  padding-bottom: 176px;
}

.last-projects-section-title {
  text-align: center;
  margin-bottom: 9px;
  padding-bottom: 34px;
}

.last-projects-section-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  text-transform: uppercase;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 79px;
}

.last-projects-section-text::before,
.last-projects-section-text::after {
  content: "";
  display: block;
  width: 67px;
  height: 2px;
  background-color: #ff6a28;
}

.last-projects-list {
  display: flex;
  flex-direction: column;
  gap: 131px;
}

.last-projects-item {
  display: flex;
  gap: 61px;
}

.last-projects-item:not(:nth-child(odd)) {
  flex-direction: row-reverse;
}

.last-project-text-wapper {
  width: 585px;
}

.last-project-title {
  font-weight: 600;
  font-size: 50px;
  line-height: 1.5;
  color: #121212;
  margin-bottom: 40px;
}

.last-project-desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.91;
  color: rgba(18, 18, 18, 0.83);
  margin-bottom: 40px;
}

.last-projects-list-btn {
  background-color: #ff6928d4;
  padding: 11px 39px;
  border-color: transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  transition: background-color 250ms linear;
}

.last-projects-list-btn:hover {
  background-color: #d84e13;
}

.last-project-img-wrapper {
  display: block;
}
