body {
  font-family: Poppins, sans-serif;
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}

.header {
  padding-top: 54px;
  padding-bottom: 63px;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list-logo {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.34;
  color: #121212;
}

.nav-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-right: 32px;
}

.navigation-list-link {
  position: relative;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(18, 18, 18, 0.6);
  transition: color 250ms linear;
}

.header-contact-btn {
  background-color: transparent;
  color: #ff6a28;
  border: 1px solid #ff6a28;
  border-radius: 5px;
  padding: 10px 28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  transition: color 250ms linear, background-color 250ms linear;
}

.header-contact-btn:focus,
.header-contact-btn:hover {
  background-color: #ff6a28;
  color: #fff;
}

.current-page {
  color: #121212;
}

.current-page::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  background-color: #ff6a28;
  width: 26%;
  height: 2px;
  border-radius: 10px;
}

.navigation-list-link:focus,
.navigation-list-link:hover {
  color: #121212;
}

/* Hero */
.hero-container {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  margin-bottom: 47px;
}

.hero-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  text-align: center;
  margin-bottom: 41px;
  margin-top: 0;
}

.hero-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75;
  text-align: center;
  color: rgba(18, 18, 18, 0.6);
  margin-bottom: 42px;
}

.hero-button {
  background-color: #ff6a28;
  border-color: transparent;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  padding: 11px 39px;
  color: #ffffff;
  transition: background-color 250ms linear;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #d84e13;
}

/* Clients and years */

.clients-container {
  display: flex;
  justify-content: space-between;
  background-color: #c4c4c4;
  border-radius: 10px;
  height: 643px;
  padding: 28px;
  margin-bottom: 106px;
}

.desc-wrapper {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 10px;
  padding: 44px 64px;
  padding-bottom: 38px;
  padding-left: 41px;
}

.desc-wrapper-clients {
  align-self: flex-start;
}

.desc-wrapper-years {
  align-self: flex-end;
}

.desc-count {
  margin-right: 16px;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.5;
  color: #ff6a28;
}

.desc-text {
  max-width: 219px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(18, 18, 18, 0.83);
}
